{% extends '../base.html' %}
{% load static  %}
{% block title %}
Login
{% endblock title %}
{% block inner_content %}

<div class="main-container my-5">
    <div class="form-container">
        <div class="form-body">
            <h2 class="title">Log in</h2>
            <form method = 'POST' class="the-form">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Login">
            </form>
        </div>
        
            <span>Don't have an account?</span> <a href="{% url 'user_register' %}">Sign Up</a>
        
    </div>
</div>
{% endblock inner_content %}